.ogolny{
    background-image: url("https://img.redro.pl/plakaty/tlo-pizza-pepperoni-odwiedz-moja-strone-bedziesz-mogl-znalezc-obraz-dla-kazdej-pizzy-sprzedawanej-w-kawiarni-lub-restauracji-400-95977816.jpg");
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.3);
}
.App{
    font-family: ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,
    BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    display: grid;
    grid-template-areas:
        "top top"
        "left left"
        "bottom bottom";
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 600px;
    margin: auto;
}
.top{
    grid-area: top;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}
.bottom{
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
}
.pizza-image{
    width: 150px;
    height: auto;
    border-radius: 50%;
}
.pizza-size{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 100%;
}
.gratis-sosy{
    color: red;
    font-weight: bold;
}
.dodaj-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #389660;
    color: white;
}
.dodaj-btn:hover{
    opacity: 0.6;
}
.edytuj-btn:hover{
    opacity: 0.6;
}
.edytuj-btn{
    padding: 10px 15px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #389660;
}
