.ogolny {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f5f5f5;
}

.App {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1200px;
}

.sklep-section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

.sklep-section:hover {
    transform: translateY(-5px);
}

.sklep-image {
    max-width: 150px;
    margin-bottom: 15px;
}

.sklep-info ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 1.6;
    color: dimgray;
}

.sklep-info .cena {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
    font-weight: 400;
}
.sklep-info .dostawa {
    font-weight: 400;
    color:  dimgray;
}

.dodaj-btn {
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: white;
    font-size: 16px;
    transition: background-color 0.2s ease;
    width: 40px;
    height: 40px;
}

.dodaj-btn:hover {
    background-color: #2d774a;
}

.dostawa {
    color: #4caf50;
    font-size: 14px;
}
